<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/1.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/2.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/3.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/4.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/5.png" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/6.png" alt="">
  </ng-template>  
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/7.png" alt="">
  </ng-template>  
  <ng-template carouselSlide>
    <img class="w-100" src="./assets/images/covers/8.png" alt="">
  </ng-template>  
</owl-carousel-o>