<footer class="bg-main-light py-5">
    <div class="container">
      <!-- inputs design  -->
      <div class="d-flex align-items-center gap-3 text-nowrap">
        <input type="text" class="form-control" placeholder="Email" />
        <button class="btn-main">{{'feeds & deals'  | translate}}</button>
      </div>
  
      <hr />
  
      <!-- footer payment Details Design  -->
      <div class="pay-details d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
          <h3 class="h6 m-0">Payment partners</h3>
          <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
          <img
            src="./assets/images/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="./assets/images/paypal.png" width="30px" alt="" />
          <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        </div>
        <p class="text-center gap-2 m-0 p-0">Made with <i class="fa-solid  text-danger fa-heart"></i> by <span class="fw-bolder">Mohamed Atef</span></p>
        <div class="d-flex align-items-center gap-2">
          <h3 class="h6 m-0">Get Deliveries with Amazon</h3>
          <img src="./assets/images/get-google-play.png" width="75px" alt="" />
          <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
        </div>
      </div>
    </div>
  </footer>
  