<section class="container my-4">
    <h1 class="text-main mb-3">Forget Password?</h1>
    <div class="w-75 d-flex justify-content-center align-items-center mx-auto shadow rounded p-4">
        @if(step() == 1){
            <form [formGroup]="verifiyEmailGroup" (ngSubmit)="verifiyEmailSubmit()">
                <div class="my-2 d-flex justify-content-between align-items-center">
                    <input  class= "form-control  me-3" formControlName="email" type="text" id="email" placeholder="Email">
                    <button [disabled]="verifiyEmailGroup.invalid"  class="btn-main text-nowrap">Verifiy Email</button>
                </div>
                @if(verifiyEmailGroup.get('email')?.errors && verifiyEmailGroup.get('email')?.touched){
                    <p class="text-danger my-2 fw-bold">Invalid Email</p>
                }
            </form>
        }
        @else if(step() == 2){
            <form [formGroup]="verifiyCodeGroup" (ngSubmit)="verifiyCodeSubmit()">
                @if(message() !== null){
                    <p class="alert-success mb-3 alert">{{message()}}</p>
                }
                <div class="my-2 d-flex justify-content-between align-items-center">
                    <input  class= "form-control  me-3" formControlName="resetCode" type="text" id="code" placeholder="Code">
                    <button [disabled]="verifiyCodeGroup.invalid"  class="btn-main text-nowrap">Verifiy Code</button>
                </div>
                @if(verifiyCodeGroup.get('resetCode')?.errors && verifiyCodeGroup.get('resetCode')?.touched){
                    <p class="text-danger my-2 fw-bold">Invalid Code</p>
                }
            </form>
        }
        @else if(step() == 3){
            <form [formGroup]="resetPasswordGroup" (ngSubmit)="resetUserPasswordSubmit()">
                <div class="my-2 d-flex justify-content-between align-items-center">
                    <input readonly class ="form-control me-3" formControlName="email" type="text" id="email" placeholder="Email">
                </div>
                @if(resetPasswordGroup.get('email')?.errors && resetPasswordGroup.get('email')?.touched){
                    <p class="text-danger my-2 fw-bold">Invalid Email</p>
                }
                <div class="my-2 d-flex justify-content-between align-items-center">
                    <input class= "form-control me-3" formControlName="newPassword" type="password" id="password" placeholder="Enter new password">
                </div>
                @if(resetPasswordGroup.get('newPassword')?.errors && resetPasswordGroup.get('newPassword')?.touched){
                    <p class="text-danger my-2 fw-bold">Invalid Password</p>
                }
                <button [disabled]="resetPasswordGroup.invalid" class="btn-main my-3 d-block ms-auto">Submit</button>
            </form>
        }
    </div>
</section>